@import 'bourbon/bourbon';
@import 'neat/neat';


//neat variables
//$local-max-width: % or unit for an element
/* @mixin outer-container(\$local-max-width: \$max-width) {

}
 */



$max-width: em(1200); //(1088) default in px
/* \$column: same unit as \$gutter */

$grid-columns: 18;
$gutter: 0;

$border-box-sizing: true;


$default-font-size: em(9px);
$default-color: #333;
$hero-color: blue;
$villain-color: red;







*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  color: $default-color;
  font-size: $default-font-size;
}

.container {
  @include outer-container($max-width);
}

.box {
  @include span-columns(2);
/*   @include omega; */
  margin: 0;
  border: 1px solid black;
  width: 11.1111%;
  height: 100px;

}

.box:nth-child(9n) {
  @include omega;
}


/********************************
  Positioning
  ******************************/
.page-title {
  display: block;
  margin-bottom: 70px;
  padding: 20px;
  height: 30px;
  text-align: center;
  color: blue;
  font-size: 8em;

}


.scoreboard-hero-wrap {
  position: absolute;
  top: 110px;
  left: 20px;
  width: 300px;

}

.scoreboard-villain-wrap {
  position: absolute;
  top: 110px;
  right: 20px;
  width: 300px;

}


.scoreboard-hero-wrap,
.scoreboard-villain-wrap {
  margin-left: 30px;
  height: 300px;
  text-align: center;

}

.scoreboard-hero-wrap li,
.scoreboard-villain-wrap li {
  display: inline-block;
  margin: 10px;
/*   border: 3px solid blue; */
  border-radius: 30px;
/*   background: lightblue; */
  width: 75px;
  height: 120px;
  text-decoration: none;

}

.title {
  margin-bottom: 20px;
/*   color: blue; */
  font-size: 5em;
}


.attack {
  margin-top: 20px;
/*   border: 3px solid blue; */
  border-radius: 10px;
/*   background: lightblue; */
  width: 100%;
  height: 50px;
/*   color: white; */
  font-size: 3em;
}

/**************************************************
    Character colors below
  ************************************************/

.scoreboard {
  padding: 5px;
  color: #666;
  font-size: 2.5em;
}


// Hero

.player-title-hero {
  color: blue;
}


.weapon1hero,
.weapon2hero,
.weapon3hero {
  border: 3px solid blue;
  background: blue;
}


.health1hero,
.health2hero,
.health3hero {
  border: 3px solid blue;
  background: blue;
}



.hero-attack {
  border: 3px solid blue;
  background: blue;
  color: white;
}

/******** Villain Colors Below ************/

.player-title-villain {
  color: red;
}

.scoreboard-villain {
  color: red;
}

.weapon1villain,
.weapon2villain,
.weapon3villain {
  border: 3px solid red;
  background: red;
}

.health1villain,
.health2villain,
.health3villain {
  border: 3px solid red;
  background: red;
}



.villain-attack {
  border: 3px solid red;
  background: red;
  color: white;
}

/***************************************************
      Select Page styles below
  **************************************************/
.menu-wrap {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.selections-title {
  text-align: center;
  color: blue;
}

.hero-select-wrap,
.villain-select-wrap {
  display: inline-block;
  border: 1px solid black;
  padding: 20px;
  width: 48%;
  height: 300px;
/*   text-align: center; */
}

.hero-select-wrap input,
.villain-select-wrap input {
  display: block;
  text-align: left;
}

.input-wrap {
  position: relative;
}

input {
  display: inline-block;
  padding: 20px;
}

label {
  display: inline-block;
  margin-left: 30px;
  color: #666;
  font-size: 5em;
}

.start-game {
  background-color: blue;
  color: white;
}

.game-type-title {
  display: block;
  margin: 20px;
  font-size: 5em;

}

.input-left {
  margin-right: 50px;
}
